<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baby Bunnie App</title>
    <link href="./static/css/style.css" type="text/css" rel="stylesheet" />
    <script src="./static/javascript/index.js" defer></script>

</head>
<body>
    <h1>Baby Bunnie App</h1>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %} {% endif %} {% endwith %}
    <p>Welcome {{ current_user.id }}</p>
    <hr />
    <!-- <div class="timer">
        <span class="timer-digit" id="hour">00</span>
        <span class="timer-text">:</span>
        <span class="timer-digit" id="min">00</span>
        <span class="timer-text">:</span>
        <span class="timer-digit" id="sec">00</span>
    </div> -->
    <section id="date-time"></section>
    <br>
    <div class="menu-buttons">
        <button class="menu-actions" id="tummy-time" value="tummy time">tummy time</button>
        <button class="menu-actions" id="sleep-time" value="sleep time">sleep time</button>
        <button class="menu-actions" id="diaper-change" value="diaper change">diaper change</button>
        <br>
        <button class="menu-actions" id="feed-time" value="feed time">feed time</button>
        <button class="menu-actions" id="pumping" value="pumping">pumping</button>
        <button class="menu-actions" id="growth" value="growth">growth</button>
    </div>
    <a href="/logout">Logout</a>
</body>
</html>