<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <h3>Please login or create a new account.</h3>
        <a href="/signup"><button value="create">New User</button></a>
        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %} {% if current_user.is_authenticated %}
        <p>{{ message }} {{ current_user.id }}</p>
        {% endif %} {% endfor %} {% endif %} {% endwith %}
        </a>
        <form method="POST">
            <label for="username">Username: </label><input type="text" name="username" autocomplete="off" placeholder="username"><br>
            <label for="password">Password: </label><input type="password" name="password" placeholder="password"><br>
            <input type="submit"><br>
        </form>
        <a href="/">Back</a> <a href="/logout">Logout</a>
    </body>
</html>